ha-card {
  --width: 85%;
  --height: 1.8em;
  --font: inherit;
  --font-size: 2em;
  --text-color: white;
  --text-offset-horizontal: 0em;
  --text-offset-vertical: 0em;
  --front-flap-color: #333;
  --front-flap-shadow-opacity: 0.5;
  --front-flap-gradient-opacity: 0.2;
  --rear-flap-color: #2f2f2f;
  --rear-flap-vertical-offset: 0.14em;
}

.card-content {
  container-type: inline-size;
  padding: 8px;
  overflow: hidden;
}

.clock-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tick {
  line-height: var(--height);
  max-width: 100%;
}

.tick-flip,
.tick-text-inline {
  font-size: var(--font-size);
  letter-spacing: 0.06em;
}

.tick-flip-panel {
  color: var(--text-color);
  background-color: var(--front-flap-color);
}

.tick-flip {
  font-family: var(--font);
  border-radius: 0.15em;
  width: 1.25em;
  margin-left: 0.025em;
  margin-right: 0.025em;
}

.tick-flip-panel-text-wrapper {
  margin-top: calc(var(--text-offset-vertical) + 0.04em);
  margin-left: calc(var(--text-offset-horizontal) - 0.15em);
}

.tick-flip-shadow {
  box-shadow: 0em 0.075em 0.02em -0.03em rgba(0, 0, 0, var(--front-flap-shadow-opacity)), 
              0em var(--rear-flap-vertical-offset) 0em -0.05em var(--rear-flap-color);
}

.tick-flip-panel-back:after {
  background-image: linear-gradient(180deg, #000 0.01em, rgba(0,0,0,0.15) 0.015em, 
                    transparent 30%, rgba(255, 255, 255, var(--front-flap-gradient-opacity)) 100%);
  border-radius: 0 0 0.15em 0.15em;
}
